<mat-card>
    <mat-card-title>Register</mat-card-title>
    <mat-card-content>
        Weclome to Scorecard. Please register.

<form [formGroup]="registrationForm" (ngSubmit)="onRegister()">
    <mat-form-field class="example-full-width">
        <input matInput placeholder="Username" formControlName="username"/>
    </mat-form-field>
    <br/>
    <mat-form-field class="example-full-width">
        <input matInput type="password" placeholder="Password" formControlName="password"/>
    </mat-form-field>
    <br/>
    <mat-form-field class="example-full-width">
        <input matInput type="password" placeholder="Confirm Password" formControlName="confirmPassword"/>
    </mat-form-field>
    <br/>
    <button mat-button type="submit">Register</button>
</form>
    </mat-card-content>
</mat-card>

<p>Form value: {{ registrationForm.value | json }}</p>
<p>Form status: {{ registrationForm.status | json }}</p>
