<form [formGroup]="formGroup" (ngSubmit)="onSave()">
    <input
            type="hidden"
            id="id"
            formControlName="id"/>
    <input type="text"
           id="name"
           placeholder="Name"
           formControlName="name"/>
    <br/>
    <button
            type="submit"
            class="btn btn-primary"
            [disabled]="this.saveDisabled$ | async">
        Save Player
    </button>

    <div *ngIf="true">
        <p>Form value: {{ formGroup.value | json }}</p>
        <p>Form status: {{ formGroup.status | json }}</p>
    </div>
</form>
