<div class="login-wrapper">
    <form class="login" [formGroup]="formGroup">
        <label class="title">
            <h3 class="welcome">Welcome to</h3>
            Scorecard
            <h5 class="hint">Use your email address sign in or create a new account</h5>
        </label>
        <div class="login-group">
            <input class="username" type="email"
                   id="login_username"
                   placeholder="Username"
                   formControlName="username"
                   email="true">
            <p *ngIf="usernameControl.errors && usernameControl.errors['required'] && (usernameControl.dirty || usernameControl.touched)">email address is quired</p>
            <p *ngIf="usernameControl.errors && usernameControl.errors['email']">email address must be a valid email address</p>
            <!--
            <div class="error active">
                Invalid user name or password
            </div>
            -->
            <button type="submit" class="btn btn-primary"
             [disabled]="signInDisabled$ | async">Sign in or Register</button>
        </div>

        <div *ngIf="true">
            <p>Form value: {{ formGroup.value | json }}</p>
            <p>Form status: {{ formGroup.status | json }}</p>
        </div>
    </form>
</div>



<!--
<mat-card>
    <mat-card-title>Sign In</mat-card-title>
    <form [formGroup]="formGroup">
        <mat-card-content>
            Welcome to Scorecard. Please sign in.
            <br/>
            <mat-form-field class="example-full-width">
                <input matInput placeholder="Username" formControlName="username"/>
            </mat-form-field>
            <br/>
            <mat-form-field class="example-full-width">
                <input
                        matInput
                        [type]="passwordInputType$ | async"
                        placeholder="Password"
                        formControlName="password"
                        (keypress)="onKeyPress($event)"
                />
            </mat-form-field>
            <mat-slide-toggle formControlName="showPassword">Show Password</mat-slide-toggle>
            <br/>
            <mat-checkbox>Remember Me</mat-checkbox>
            <br/>
            <p class="warning" *ngIf="capsLockOn$ | async">caps lock is on</p>
            <br/>
            <p class="error">{{ errorMessage }}</p>
            <button mat-button type="submit" [disabled]="signInDisabled$ | async">Sign In</button>
        </mat-card-content>
        <mat-card-footer>
        </mat-card-footer>
    </form>
</mat-card>
-->

