<clr-main-container>
  <clr-header>
    <div class="branding">
      <a href="#" class="nav-link">
        <span class="clr-icon clr-clarity-logo"></span>
        <span class="title">Scorecard</span>
      </a>
    </div>
    <div class="header-nav" [clr-nav-level]="1">
      <a class="nav-link" href="#" [routerLink]="['/dashboard']" routerLinkActive="active"><span class="nav-text">Dashboard</span></a>
      <a class="nav-link" href="#" [routerLink]="['/players']" routerLinkActive="active">
        <span class="nav-text">Players</span></a>
    </div>
    <div class="header-actions">
      <a class="nav-link" href="#" [routerLink]="['/sign-out']" routerLinkActive="active">
        <span class="nav-text">
<clr-icon shape="logout">
</clr-icon>
      </span>
      </a>
    </div>
  </clr-header>
  <div class="content-container">
    <div class="content-area">
      <router-outlet></router-outlet>
    </div>
  </div>
</clr-main-container>

<!--
<mat-sidenav-container class="sidenav-container">
    <mat-sidenav
            #drawer
            class="sidenav"
            fixedInViewport="true"
            [attr.role]="isHandset ? 'dialog' : 'navigation'"
            [mode]="(isHandset | async)!.matches ? 'over' : 'side'"
            [opened]="!(isHandset | async)!.matches">
        <mat-toolbar color="primary">Menu</mat-toolbar>
        <mat-nav-list>
            <a mat-list-item routerLink="/dashboard" routerLinkActive="active">Dashboard</a>
            <a mat-list-item routerLink="/leaderboards" routerLinkActive="active">Leaderboards</a>
            <a mat-list-item routerLink="/players" routerLinkActive="active">Players</a>
            <a mat-list-item routerLink="/games" routerLinkActive="active">Games</a>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <mat-toolbar color="primary">
            <button
                    type="button"
                    aria-label="Toggle sidenav"
                    mat-icon-button
                    (click)="drawer.toggle()"
                    *ngIf="(isHandset | async)!.matches">
                <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
            </button>
            <span>Scorecard</span>
        </mat-toolbar>
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>
-->
